* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: lightgreen;
    
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 42, 255);
}

h2 {
    text-align: center;
    color: rgba(25, 25, 112, 0.683);
    font-weight: 500;
}

table {
    margin-inline: 500px;
    margin-bottom: 20px;
    margin-top: 25px;
    border: 30px solid rgba(37, 62, 21, 0.941);
    border-collapse: collapse;
    padding: 25%;
    margin-right: 680px;
    min-width: 300px;
    max-width: 500px;
}

.timer {
    height: 40px;
    padding: 15px;
    background-color: lightcoral;
    color: rgba(10, 10, 43, 0.831);
    font-size: large;
    border-radius: 10%;
    display: inline-flexbox;
}

.cell-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(85, 104, 104);
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: cyan;
    color: black;

}

.cell-container {
    position: relative;
}

.hide {
    display: none;
}

.neighbour {
    text-align: center;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .score {
    text-align: center;
    color: black;
    display: inline-block;
    background-color: rgb(96, 96, 170);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .lives {
    text-align: center;
    color: rgb(71, 190, 53);
    display: inline-block;
    background-color: rgb(96, 96, 170);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

span {
    height: 80px;
    width: 100px;
    border: solid 3px black;
    display: inline;
    text-align: center;
    margin-inline-start: 600px;
}

.clicked {
    background-color: rgb(207, 103, 91);
    color: white;
}

.level-btn {
    background-color: rgba(182, 135, 173, 0.751);
    height: 70px;
    width: 150px;
    display: inline;
    /* place-items:center; */
    left: 50%;
    right: 50%;
    border: solid 7px;
    border-radius: 4%;
    margin-right: 30px;
    font-size: large;
    cursor: pointer;
}

.level-button-container {
    
    margin-left: 450px;
}

.restart-btn {
    height: 70px;
    width: 150px;
    margin-left: 550px;
    background-color: greenyellow;
    color: brown;
    border-radius: 20%;
    border: solid 5px rgb(88, 32, 178);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    cursor: pointer;
}

.cell-hidden:hover {
    background: linear-gradient(to top, black, rgb(128, 128, 128));
}

.restart-btn:hover {
    background: linear-gradient(to top, rgba(220, 124, 124, 0.648), rgb(128, 128, 128));
}

.level-btn:hover {
    background: linear-gradient(to top, rgba(0, 255, 94, 0.651), rgb(128, 128, 128));
}